:root {
  --brand-light: #59B2FF;
  --brand-mind: #3487CF;
  --brand-dark: #1D6FB6;
  
  --text-color: #FF5959;

  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #363B40;

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;

  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;
}