@import url(global.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  background: url(../imagens/Background.svg) no-repeat;
  background-repeat: no-repeat;
  
}



body {
  font-family: Arial, sans-serif;
  background-color: var(--shape-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  
}



.main-container {
  overflow: auto;
  background-color: gray;
}

